@if (!isReady()) {
<div class="loading-wrapper">
  <app-loading-dot />
</div>
} @else {
<app-toolbar></app-toolbar>

<div class="search-overlay" [class.show]="searchService.isSearching()">
  <app-search-bar (closeEvent)="searchService.setSearching(false)"></app-search-bar>
</div>

<main class="main-container">
  <router-outlet></router-outlet>
  @if (isNotQuizRoute()) {

  <app-footer></app-footer>
  }
</main>
}
<app-slide-in>
  <app-slide-container></app-slide-container>
</app-slide-in>

@if (isNotQuizRoute()) {
<app-bottom-nav></app-bottom-nav>
}