.hero-section {
  min-height: 100vh;
  /* Se adapta si el contenido crece */
  display: flex;
  flex-direction: column;
}



.header-section {
  display: flex;
  flex-direction: column;
  /* Apila los elementos verticalmente */
  align-items: center;
  /* Centra horizontalmente imagen y título */
  justify-content: center;
  text-align: center;
  padding: 200px 20px 20px 20px;
}

.header-image {
  min-width: 300px;
  max-width: 400px;
  /* Ajusta el tamaño de tu imagen */
  height: auto;
  margin-bottom: 20px;
  /* Espacio entre la imagen y el título */
  user-select: none;
}

.zoom-image {
  width: 200px;
  transition: transform 0.3s ease;
  animation: zoomEffect 3s ease-in-out infinite alternate;
}

@keyframes zoomEffect {
  0% {
    transform: scale(0.8);
    /* Tamaño pequeño (80%) */
  }

  100% {
    transform: scale(1.1);
    /* Tamaño grande (110%) */
  }
}

.title-container,
.subtitle-container {
  display: flex;
  justify-content: center;
  /* Centra el bloque h1 horizontalmente */
  width: 100%;
}


.main-title {
  text-align: center;
  width: 100%;
  /* Asegura que en móviles use todo el espacio disponible */
  font-family: 'Finlandica Text', sans-serif;
  font-size: 2.5rem;
  /* Tamaño grande base */
  line-height: 1.2;
  /* Espaciado entre líneas para que sea legible */

  /* El secreto: Definir el degradado */
  background: linear-gradient(90deg,
      #040433,
      /* Color inicial */
      #3b82f6,
      /* Color medio (puedes cambiarlo) */
      #040433
      /* Color final igual al inicial para un ciclo suave */
    );

  background-size: 200% 100%;
  /* Hacemos el fondo más ancho que el texto */
  -webkit-background-clip: text;
  /* Recorta el fondo a la forma del texto */
  background-clip: text;

  /* Hacemos que el color del texto sea transparente para que se vea el fondo */
  color: transparent;

  /* Animación */
  animation: gradient-flow 3s linear infinite;
}



.main-title {
  font-family: 'Finlandica Text', sans-serif;
  margin: 0;
  max-width: 800px;
}


.subtitle {
  font-family: 'Finlandica Text', sans-serif;
  color: #666;
  /* Un gris oscuro, menos agresivo que el negro */
  font-size: 1.1rem;
  /* Un poco más pequeño que el título */
  margin-top: 10px;
  /* Espacio entre el título y el texto */
  max-width: 600px;
  /* Para que no sea demasiado larga y sea legible */
  line-height: 1.5;
  /* Más espacio entre líneas para lectura cómoda */
  text-align: center;
}



@media (max-width: 768px) {

  .hero-section {
  min-height: 80vh;
}


  .header-section {
    padding: 60px 20px 20px 20px;

  }

  .header-image {
    min-width: auto;
    max-width: 200px;
  }

  .zoom-image {
    width: 200px;
  }
}