

<div class="quiz-container">
  <h2 style="text-align: center; margin-top: 0; font-size: 35px">
    {{
    changeSlideModalService.currentView() === slideView.CREATE_QUIZ_FORM
    ? 'Crear cuestionario'
    : 'Editar cuestionario'
    }}
  </h2>
  <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Título del Quiz</mat-label>
      <input matInput formControlName="title" placeholder="Ej: Fundamentos de IA" />
      @if (quizForm.get('title')?.hasError('required')) {
      <mat-error style="width: 100%">Campo obligatorio.</mat-error>
      }
      @if (quizForm.get('title')?.hasError('maxlength')) {
      <mat-error>
        No puede superar los
        {{ quizForm.get('title')?.getError('maxlength').requiredLength }} caracteres.
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description" rows="3"></textarea>

      @if (quizForm.get('description')?.hasError('required')) {
      <mat-error style="width: 100%">Campo obligatorio.</mat-error>
      }
      @if (quizForm.get('description')?.hasError('maxlength')) {
      <mat-error>
        No puede superar los
        {{ quizForm.get('description')?.getError('maxlength').requiredLength }} caracteres.
      </mat-error>
      }
    </mat-form-field>

    <div class="flex-container" style="display: flex; gap: 10px; width: 100%">
      <mat-form-field appearance="outline" style="flex: 1">
        <mat-label>Visibilidad</mat-label>
        <mat-select formControlName="visibility">
          <mat-option value="PUBLIC">Público</mat-option>
          <mat-option value="PRIVATE">Privado</mat-option>
          <mat-option value="ACCESS_ONLY_VIA_LINK">Solo enlace</mat-option>
          <mat-option value="INACTIVE">Inactivo</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" style="flex: 1">
        <mat-label>Límite de intentos</mat-label>
        <input matInput min="0" type="number" formControlName="attemptsLimit" />

        @if (quizForm.get('attemptsLimit')?.hasError('min')) {
        <mat-error>
          El valor mínimo debe ser {{ quizForm.get('attemptsLimit')?.getError('min').min }}
        </mat-error>
        }
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Fecha de fin</mat-label>
      <input [min]="minDate" matInput [matDatepicker]="picker" formControlName="endAt" />

      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

      <mat-datepicker #picker></mat-datepicker>

      @if (quizForm.get('endAt')?.hasError('invalidDateFormat')) {
      <mat-error>La fecha es incorrecta.</mat-error>
      }
      @if (quizForm.get('endAt')?.hasError('required')) {
      <mat-error>Ingrese una fecha válida.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Duración (minutos)</mat-label>
      <input matInput [min]="0" type="number" formControlName="durationSeconds" />

      @if (quizForm.get('durationSeconds')?.hasError('min')) {
      <mat-error>
        El valor mínimo debe ser {{ quizForm.get('durationSeconds')?.getError('min').min }}
      </mat-error>
      }
    </mat-form-field>
    <div class="btn-container">
      <button mat-raised-button color="primary" type="submit" class="submit-button">
        @if (quizStore.isLoading()) {
        <mat-spinner class="spinner-white" diameter="20"></mat-spinner>
        } @else {
        {{
        changeSlideModalService.currentView() === slideView.CREATE_QUIZ_FORM
        ? 'Guardar Cuestionario'
        : 'Editar Cuestionario'
        }}
        }
      </button>

      @if (changeSlideModalService.currentView() === slideView.EDIT_QUIZ_FORM) {
      <button (click)="onDeleteQuiz()" mat-raised-button style="
            background: rgb(14,96,168) !important;
            color: white;
            display: inline-flex;
            align-items: center;
            gap: 8px;
          " type="button" class="submit-button warn">
        @if (!isDeleting()) {
        <mat-icon style="margin: 0">delete</mat-icon>
        }
        @if (isDeleting()) {
        <mat-spinner class="spinner-white" diameter="20"></mat-spinner>
        } @else {
        <span style="vertical-align: middle">Eliminar</span>
        }
      </button>
      }

      <button class="cancel-button" (click)="closeForm()" mat-raised-button>Cancelar</button>
    </div>

    <mat-divider style="margin-top: 30px"></mat-divider>

    @if (changeSlideModalService.currentView() === slideView.EDIT_QUIZ_FORM) {
    <app-question-form [quizId]="localQuiz()?.id ?? 0"></app-question-form>
    }
  </form>

  @if(questionStore.loading()){
  <div class="spinner-overlay">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
}
</div>


