<mat-dialog-content style="background-color: white !important">
  <form [formGroup]="answerForm">
    <h2 style="margin-top: 5px; font-size: 25px; text-align: center">
      {{ data.mode === 'EDIT' ?languageService.translate('EDIT_ANSWER'): languageService.translate('ADD_ANSWER') }}
    </h2>

    <div style="width: 100%">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{languageService.translate('ANSWER')}}</mat-label>
        <textarea matInput formControlName="content" rows="5"></textarea>
        @if (answerForm.get('content')?.hasError('required')) {
        <mat-error style="width: 100%">{{languageService.translate('REQUIRED_FIELD')}}</mat-error>
        }

        @if (answerForm.get('content')?.hasError('maxlength')) {
        <mat-error>
          {{languageService.translate('CANNOT_EXCEED_THE')}}
          {{ answerForm.get('content')?.getError('maxlength').requiredLength }}
          {{languageService.translate('CHARACTERS')}}.
        </mat-error>
        }
      </mat-form-field>

      <div style="margin-bottom: 16px">
        <mat-checkbox formControlName="isCorrect">{{languageService.translate('MARK_AS_CORRECT')}}</mat-checkbox>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions style="background-color: white !important" align="end">
  <button style="border-radius: 8px" mat-button (click)="close()">{{languageService.translate('CANCEL')}}</button>
  <button (click)="submitAnswer()" class="save-answer-button" mat-raised-button color="primary" cdkFocusInitial
    [disabled]="isLoading()">
    @if(isLoading()){
    <mat-spinner class="spinner-white" diameter="20"></mat-spinner>

    }@else{
    {{ languageService.translate('ACCEPT')
    }} }
  </button>
</mat-dialog-actions>