mat-dialog-content {
  overflow: hidden !important;
  max-height: none !important;
}

.w-100 {
  width: 100%;
}

.save-answer-button {
  border-radius: 4px;
  color: black;
  color: rgb(255, 255, 255);
  background-color: rgb(14, 96, 168);
}

:host ::ng-deep .spinner-white circle {
  stroke: #ffffff !important;
}