<div class="update-content">
  <img src="rabbit.png" alt="Imagen de la página" height="60px" />

  <h1 style="margin-bottom: 0">
    @if (changeSlideViewService.currentView() === 'UPDATE_PASSWORD') {
      {{ languageService.translate('UPDATE_PASSWORD') }}
    } @else {
      {{ languageService.translate('RECOVER_ACCOUNT') }}
    }
  </h1>
  @if (step() === 'initial') {
    <p>{{ languageService.translate('ENTER_EMAIL') }}</p>
  } @else {
    <p>{{ languageService.translate('CAN_REQUEST_ANOTHER') }}</p>
  }
  <div class="wrapper">
    @if (step() === 'initial') {
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ languageService.translate('EMAIL') }}:</mat-label>
        <input [formControl]="email" matInput type="email" />

        @if (email.hasError('email') && email.touched) {
          <mat-error>{{ languageService.translate('EMAIL_INVALID') }}</mat-error>
        }
      </mat-form-field>

      <button
        mat-flat-button
        class="update-button full-width"
        (click)="sendResetLink()"
        [disabled]="isLoading() || email.invalid"
      >
        @if (!isLoading()) {
          {{ languageService.translate('SEND_LINK') }}
        } @else {
          <mat-spinner class="spinner-white" diameter="20"></mat-spinner>
        }
      </button>
    } @else {
      <div >
        <span>
          {{ countdown() }}
        </span>
      </div>
    }
    <button mat-flat-button class="close-btn full-width" (click)="slideInModal.close()">
      {{ languageService.translate('EXIT') }}
    </button>
  </div>
</div>
