.update-content {
  width: 100%;
  display: flex;
  flex-direction: column; /* <-- Esto hace que se pongan en vertical */
  align-items: center; /* Centra horizontalmente */
  padding-top: 80px;
}

.update-button {
  height: 45px;
  color: white;
  border-radius: 10px !important;
  margin-top: -5px; /* Valores negativos mueven el elemento hacia arriba */
}

.full-width {
  width: 100%; /* Ocupa todo el espacio del contenedor */
}

.wrapper {
  display: flex;
  flex-direction: column; /* Esto es lo que los apila */
  align-items: center; /* Los centra horizontalmente */
  gap: 16px; /* Espacio entre los campos */
  width: 100%;
  max-width: 300px; /* Controla el ancho máximo aquí */
}

.close-btn {
  cursor: pointer;
  border-radius: 10px !important;
  background: rgb(246, 240, 240) !important;
  color: black !important;
}

:host ::ng-deep .spinner-white circle {
  stroke: #ffffff !important; /* Código HEX para el Indigo 600 */
}
