<div class="container">
    <button (click)="close()" class="btn-close">
        <mat-icon style="font-size: 20px;">close</mat-icon>
    </button>

    <h2 mat-dialog-title class="dialog-title">{{languageService.translate('GENERATE_QUIZ')}}</h2>

    <mat-dialog-content class="dialog-body">
        <form class="form-container" [class.field-custom]="isJsonDocument()">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{isJsonDocument() ?
                    languageService.translate('ENTER_DOCUMENT_OR_INSTRUCTION'):
                    languageService.translate('ENTER_INSTRUCTION')}}</mat-label>
                <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="6" cdkAutosizeMaxRows="12"
                    class="auto-resize-textarea" [value]="instruction()"
                    (input)="instruction.set($any($event.target).value)"
                    [placeholder]="!isJsonDocument() ?  languageService.translate('ENTER_INSTRUCTION') : returnJsonTemplate()">
                </textarea>
            </mat-form-field>


            <div style="margin-bottom: 10px;">

                @if (isJsonDocument()) {
                @let result = validation();
                @let jsonStatus = parsedJson();

                @if (jsonStatus === 'INVALID_JSON') {
                <mat-error class="error-msg">
                    {{languageService.translate('INVALID_JSON_FORMAT')}}
                </mat-error>
                }

                @if (result && !result.success) {
                <ul class="error-list">
                    @for (error of result.error.issues; track $index) {
                    <li>
                        <mat-error>
                            <strong>{{ error.path.join('.') }}:</strong> {{ error.message }}
                        </mat-error>
                    </li>
                    }
                </ul>
                }
                }@else {
                @if (instruction().trim() === '') {
                <mat-error class="error-msg">
                    {{languageService.translate('EMPTY_INSTRUCTION_ERROR')}}
                </mat-error>
                }@else if (instruction().trim().length> 3000) {
                <mat-error class="error-msg">
                    {{languageService.translate('MAX_INSTRUCTION_LENGTH_ERROR')}}
                </mat-error>
                }@else if ( instruction().trim().length<10) { <mat-error class="error-msg">
                    {{languageService.translate('MIN_INSTRUCTION_LENGTH_ERROR')}}
                    </mat-error>
                    }
                    }
            </div>
        </form>

        <div class="details-card">
            @if(!isJsonDocument()){

            <div class="details-title">
                <mat-icon>info</mat-icon>
                <h3>{{languageService.translate('ADDITIONAL_DETAILS_PROMPT')}}</h3>
            </div>

            <p>
                {{languageService.translate('QUIZ_PROMPT_INSTRUCTIONS')}}
            </p>

            }@else {
            <div class="details-title">
                <mat-icon>info</mat-icon>
                {{languageService.translate('EXTERNAL_AI_JSON')}}
            </div>


            <div class="info-box">

                @let info = languageService.translate('QUIZ_GENERATOR_JSON_PROMPT');
                <p>
                    {{languageService.translate('INSTRUCTIONS')}}: {{info}}
                </p>
                <div class="json-container">
                    <button mat-icon-button class="copy-button" (click)="copyToClipboard(returnJsonTemplate())"
                        matTooltip="Copiar plantilla">
                        <mat-icon>content_copy</mat-icon>
                    </button>

                    <pre class="json-template">{{ returnJsonTemplate() }}</pre>
                </div>
            </div>
            }

            <input #fileInput type="file" hidden (change)="onFileSelected($event)" accept="application/pdf" />

        </div>

        @if(isJsonDocument() == false){
        <mat-form-field appearance="outline" class="w-100" style="margin-top: 20px;">
            <mat-label>{{languageService.translate('SELECT_MODEL')}}</mat-label>

            <mat-select [value]="selectedModel().id" (selectionChange)="onSelectionChange($event.value)">
                @for (model of modelStore.models(); track model.id) {
                <mat-option [value]="model.id">
                    <div style="display: flex; align-items: center;">

                        <span>{{ model.model }}</span>
                    </div>
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
        }


    </mat-dialog-content>

    <mat-dialog-actions align="center" class="footer-actions">
        <div class="actions">

            @if(!isJsonDocument()){
            <button [disabled]="isLoading()" (click)="fileInput.click()" mat-stroked-button class="secondary-btn">
                <mat-icon style="color: rgb(212, 50, 50);" [hidden]="isFileUploading()"> picture_as_pdf </mat-icon>

                @if(isFileUploading()){
                <mat-spinner class="spinner-blue" diameter="20"></mat-spinner>
                }@else{
                {{languageService.translate('UPLOAD_PDF_DOCUMENT')}} }
            </button>
            }

            <button [disabled]="isLoading()" (click)="toggleJsonDocument()" mat-stroked-button class="secondary-btn">
                <mat-icon>{{!isJsonDocument() ? 'data_object': 'short_text'}}</mat-icon>

                {{isJsonDocument() ? languageService.translate('INSTRUCTIONS'):'JSON'}}
            </button>

            <button (click)="onCreateQuiz()" [disabled]="!isFormValid() || isLoading()" mat-flat-button
                class="primary-btn">
                <mat-icon>auto_awesome</mat-icon>
                @if(isLoading()){
                <mat-spinner class="spinner-white" diameter="20"></mat-spinner>
                }@else{
                {{languageService.translate('GENERATE_QUIZ')}}
                }
            </button>

        </div>
    </mat-dialog-actions>
</div>