
<div class="quiz-container">
  <div class="wrap">
    <main class="card" role="region" aria-label="Evaluación de conocimientos">
      <div class="content">
        <app-quiz-navbar
          [userAnswers]="userAnswers()"
          [questions]="quiz().questions"
          [questionQuantity]="quiz().questions.length"
        ></app-quiz-navbar>

        <h2
          id="title-test"
          title="Instrucciones: Lea cuidadosamente cada pregunta y seleccione la respuesta correcta. En el caso de selección múltiple, puede elegir más de una opción."
        >
          Ciberseguridad.
        </h2>

        <div class="summary">
          Instrucciones: Lea cuidadosamente cada pregunta y seleccione la respuesta correcta. En el
          caso de selección múltiple, puede elegir más de una opción.
        </div>

        <div id="div-stack" class="stack" aria-label="Listado de preguntas">
          @for (question of quiz().questions; track question.id; let i = $index) {
            <section
              class="q-block"
              [class.active]="quizNavService.currentPosition() === i"
              [class.exit-left]="i < quizNavService.currentPosition()"
              [class.exit-rigth]="i > quizNavService.currentPosition()"
            >
              <div class="q-meta">
                <span class="pill no-copy"
                  >Pregunta
                  {{ `${quizNavService.currentPosition() + 1}/${quiz().questions.length}` }}</span
                >
                <span class="muted no-copy">{{
                  question.type === 'UNIQUE' ? 'Selección única' : 'Selección múltiple'
                }}</span>
              </div>
              <h2 class="q-title">{{ question.content }}</h2>
              <div class="options">
                @for (option of question.answers; track option.id) {
                  <div
                    (click)="selectAnswer(question, option)"
                    class="option no-copy"
                    [class.selected]="option.isSelected"
                  >
                    @if (question.type === 'UNIQUE') {
                      <span class="bullet"><span class="dot-small"></span></span>
                    } @else {
                      <span class="checkbox-box"></span>
                    }

                    <span class="option-text">{{ option.content }}</span>
                  </div>
                }
              </div>
            </section>
          }

          @if (!isMobile()) {
            <div class="q-footer">
              <div class="left"><div class="result"></div></div>
              <div class="right">
                @if (quizNavService.currentPosition() > 0) {
                  <button
                    (click)="quizNavService.goToPrevQuestion()"
                    class="ghost prev"
                    data-target="3"
                    type="button"
                  >
                    Anterior
                  </button>
                }

                @if (quizNavService.currentPosition() < quiz().questions.length - 1) {
                  <button
                    (click)="quizNavService.goToNextQuestion()"
                    [disabled]="!isCurrentQuestionAnswered()"
                  >
                    class="ghost next" data-target="1" type="button" > Siguiente
                  </button>
                } @else {
                  <button
                  (click)="evaluateQuiz()"
                    [disabled]="!isCurrentQuestionAnswered()"
                    class="ghost finish"
                    type="button"
                  >
                    Finalizar
                  </button>
                }
              </div>
            </div>
          } @else {
            <nav class="bottom-nav">
              <button
                (click)="quizNavService.goToPrevQuestion()"
                [disabled]="quizNavService.currentPosition() === 0"
                class="nav-btn"
                mat-flat-button
              >
                <span>Anterior</span>
              </button>

              @if (quizNavService.currentPosition() < quiz().questions.length - 1) {
                <button
                  (click)="quizNavService.goToNextQuestion()"
                  [disabled]="
                    quizNavService.currentPosition() === quiz().questions.length - 1 ||
                    !isCurrentQuestionAnswered()
                  "
                  class="nav-btn"
                  mat-flat-button
                >
                  <span>Siguiente</span>
                </button>
              } @else {
                <button (click)="evaluateQuiz()" [disabled]="!isCurrentQuestionAnswered()" class="nav-btn" mat-flat-button>
                  <span>Finalizar</span>
                </button>
              }
            </nav>
          }
        </div>
      </div>
    </main>
  </div>
</div>
