.close-btn {
  cursor: pointer;
  border-radius: 10px !important;
  background: white !important;
  color: black !important;
}

.login-content {
  width: 100%;
  display: flex;
  flex-direction: column; /* <-- Esto hace que se pongan en vertical */
  align-items: center; /* Centra horizontalmente */
  padding-top: 50px;
}

.form-container {
  display: flex;
  flex-direction: column; /* Esto es lo que los apila */
  align-items: center; /* Los centra horizontalmente */
  gap: 16px; /* Espacio entre los campos */
  width: 100%;
  max-width: 300px; /* Controla el ancho máximo aquí */
}

.full-width {
  width: 100%; /* Ocupa todo el espacio del contenedor */
}

.login-button {
  height: 45px;
  color: white;
  border-radius: 10px !important;
  margin-top: -5px; /* Valores negativos mueven el elemento hacia arriba */
}
.login-prompt {
  font-size: 14px;
  color: #555; /* Color gris para el texto general */
  margin-top: 0;
}

.register-link {
  color: #007bff; /* Color azul típico de link */
  text-decoration: underline;
  cursor: pointer; /* Cambia el cursor a manito */
  font-size: 14px;
  margin-top: 10px;
  transition: color 0.2s;
}

.register-link:hover {
  color: #0056b3; /* Un tono más oscuro al pasar el mouse */
}

.google-link-button {
  /* Estilo visual de link */
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 14px;

  /* Alineación del icono y el texto */
  display: inline-flex;
  align-items: center; /* Centra verticalmente */
  gap: 8px; /* Espacio entre icono y texto */
  transition: color 0.2s;
}

.google-link-button:hover {
  color: #0056b3; /* Un azul más oscuro al pasar el cursor */
}

.google-icon {
  width: 18px;
  height: 18px;
}

::ng-deep .mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}

.forgot-password-container {
  width: 100%;
 text-align: center;
  /* Ajusta estos valores para moverlo hacia arriba */
  margin-top: -20px; /* Valores negativos mueven el elemento hacia arriba */
}

.forgot-link {
  font-size: 12px;
  color: #007bff;
  cursor: pointer;
}

:host ::ng-deep .spinner-white circle {
  stroke: #ffffff !important; /* Código HEX para el Indigo 600 */
}