<div #questionFormRef style="margin-top: 30px">
  <h2 style="text-align: left; margin-top: 0; font-size: 20px">{{languageService.translate('ADD_QUESTION')}}</h2>

  <form [formGroup]="questionForm">
    <div style="width: 100%">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{languageService.translate('TYPE')}}</mat-label>
        <mat-select formControlName="type">
          <mat-option value="MULTIPLE">{{languageService.translate('MULTIPLE_SELECTION')}}</mat-option>
          <mat-option value="UNIQUE">{{languageService.translate('SINGLE_ANSWER')}}</mat-option>
        </mat-select>

        @if (questionForm.get('type')?.hasError('required')) {
        <mat-error style="width: 100%">{{languageService.translate('REQUIRED_FIELD')}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{languageService.translate('QUESTION_TEXT')}}</mat-label>
        <textarea matInput formControlName="content" placeholder="Ej: Text or texto" rows="3"></textarea>

        @if (questionForm.get('content')?.hasError('required')) {
        <mat-error style="width: 100%">{{languageService.translate('REQUIRED_FIELD')}}</mat-error>
        }

        @if (questionForm.get('content')?.hasError('maxlength')) {
        <mat-error>
          {{languageService.translate('CANNOT_EXCEED_THE')}}
          {{ questionForm.get('content')?.getError('maxlength').requiredLength }}
          {{languageService.translate('CHARACTERS')}}.
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{languageService.translate('FEEDBACK')}}</mat-label>

        <textarea matInput formControlName="feedback" placeholder="Ej: Feedback..." rows="3"></textarea>

        @if (questionForm.get('feedback')?.hasError('maxlength')) {
        <mat-error>
          {{languageService.translate('CANNOT_EXCEED_THE')}}
          {{ questionForm.get('feedback')?.getError('maxlength').requiredLength }}
          {{languageService.translate('CHARACTERS')}}.
          .
        </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="btn-container">
      @if (activeEditQuestion() !== null) {
      <button class="cancel-button" (click)="onCancelEdit()"
        mat-raised-button>{{languageService.translate('CANCEL')}}</button>

      <button (click)="updateQuestion()" mat-raised-button color="primary" type="button" class="submit-button">
        {{languageService.translate('UPDATE_QUESTION')}}
      </button>
      } @else {
      <button (click)="createQuestion()" mat-raised-button color="primary" type="button" class="submit-button"
        [disabled]="questionForm.invalid">
        {{languageService.translate('SAVE_QUESTION')}}
      </button>
      }
    </div>
  </form>

  <div class="search-container">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{languageService.translate('SEARCH_QUESTION')}}</mat-label>
      <input matInput 
      [placeholder]="languageService.translate('SEARCH_QUESTIONS_PLACEHOLDER')"
       (input)="searchTerm.set($event.target.value)" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  @for (question of filteredQuestions(); track question.id; let i = $index) {
  <div class="question-container">
    <div style="margin: 15px">
      <span style="font-weight: 500; color: rgb(8, 6, 29); font-size: 18px">{{ i + 1 }}{{ ')' }}
        {{ question.content }}
      </span>
    </div>
    <div class="answers-list">
      @for (answer of question.answers; track answer.id) {

      <div class="answer-item">
        <span class="answer-text">{{ answer.content }}</span>

        <div>
          @if (answer.isCorrect) {
          <button type="button" mat-icon-button style="color: rgb(10, 108, 46)" class="option-btn" title="Check">
            <mat-icon>check</mat-icon>
          </button>
          }

          <button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{ answer: answer }" type="button" mat-icon-button
            style="color: rgb(13, 13, 92)" class="edit-btn" title="Editar">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>

      </div>
      <mat-divider></mat-divider>
      }

      <div class="question-button-group">
        <button type="button" (click)="onDeleteQuestion(question.id)" class="delete-question-btn" mat-flat-button>
          <mat-icon>delete</mat-icon>
          <span>{{languageService.translate('DELETE')}}</span>
        </button>

        <button (click)="selectEditQuestion(question)" type="button" class="edit-question-btn" mat-flat-button>
          <mat-icon>edit</mat-icon>
          <span>{{languageService.translate('EDIT')}}</span>
        </button>

        <button (click)="openAddAnswerForm(question)" type="button" class="add-question-btn" mat-flat-button>
          <mat-icon>add</mat-icon>
          <span>{{languageService.translate('ANSWER')}}</span>
        </button>
      </div>
    </div>
  </div>
  }
</div>

<mat-menu #menu="matMenu" class="minimal-menu">
  <ng-template matMenuContent let-answer="answer">
    <button (click)="openUpdateAnswerForm(answer)" mat-menu-item>
      <mat-icon color="warn">edit</mat-icon>
      <span>{{languageService.translate('EDIT')}}</span>
    </button>
    <button (click)="onDeleteAnswer(answer)" mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>
        {{languageService.translate('DELETE')}}
      </span>
    </button>
  </ng-template>
</mat-menu>