.footer {
  width: 100%;
  padding: 20px 20px 50px 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Finlandica Text', sans-serif;
  height: auto;
}

.social-links {
  display: flex;
  gap: 25px; /* Espaciado entre redes */
}

.social-links a {
  color: #040433;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.95rem;
  transition: color 0.3s;
}

.social-links a:hover {
  color: rgb(0, 103, 184); /* Usa tu color azul del botón */
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #777;
  text-decoration: none;
  font-size: 0.85rem;
}

@media (max-width: 600px) {
  .footer {
    margin-bottom: 30px;
  }
}
